/* header */

.hd_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* footer */

.ft_txt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main h1 {
    position: absolute;
    margin: 0;
    transition: opacity 0.25s ease;
}

.default {
    opacity: 1;
    pointer-events: none;
}

.hovered {
    opacity: 0;
    pointer-events: none;
}

.main:hover .default {
    opacity: 0;
}

.main:hover .hovered {
    opacity: 1;
}