/* <tag> modifications*/

body {
    margin: 0px;
}

header {
    height: 15vh;
}

main {
    height: 65vh;
}

footer {
    height: 20vh;
}

a:link,
a:visited,
a:hover,
a:active {
    font-family: "Roboto-serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
    font-size: 32px;
    letter-spacing: 0.05em;
}


span {
    padding: 12px;
}

h1 {
    animation: runIn 1s ease-in-out forwards;
    white-space: nowrap;
}

textarea {
    resize: none;
}

/* .classes */

.grey-bg {
    background-color: grey;
}

.ft_font {
    font-family: "Roboto-serif", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
    font-size: 32px;
    letter-spacing: 6em;
    margin-right: -120px;
}

.main_fnt {
    font-family: "Roboto-serif", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
    font-size: 36px;
    letter-spacing: 1em;
    display: inline;
    padding: 12px 0px 12px 12px;
}

.main_fnt2 {
    font-family: "Roboto-serif", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
    font-size: 24px;
    letter-spacing: 0.25em;
    display: inline;
    padding: 12px 0px 12px 12px;
}

.syntax_hd {
    font-family: "Roboto-serif", serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 16px;
}

/* IDs */

#code-input {
    height: 300px;
    width: 300px;
    margin: 10px 0px 0px 0px;
}

#user-input {
    margin: 10px 0px 0px 0px;
}

#run-code {
    margin: 10px 0px 0px 0px;
}

#form-label-code {
    margin: 10px 0px 0px 0px;
}
#form-label-input {
    margin: 10px 0px 0px 0px;
}

#form-label-hint {
    font-size: 12px;
}

#output {
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  min-height: 2em;
  font-size: 16px;
  margin-top: 10px;
  white-space: pre-wrap;
}

header, .hd_nav {
  background: #000;
  color: #fff;
  transition: background-color 0.4s, color 0.4s;
}

footer, .ft_txt {
  background: #000;
  color: #fff;
  transition: background-color 0.4s, color 0.4s;
}

.hd_nav img {
  background: #fff;
  padding: 2px;
  border-radius: 4px;
}

.hd_nav a:link,
.hd_nav a:visited,
.hd_nav a:active,
.hd_nav a:focus {
  color: #fff !important;
  background: transparent !important;
}

.hd_nav a:hover {
  color: #000 !important;
  background: #fff !important;
  border-radius: 2px;
}

.main:hover, main:hover {
  background: #000 !important;
  color: #fff !important;
  transition: background-color 0.4s, color 0.4s;
}

.main:hover .hd_nav a,
main:hover .hd_nav a {
  color: #000 !important;
  background: #fff !important;
}

